// app global css in Sass form
body
    font-family: 'Open Sans', sans-serif

h1
    font-size: 1.4em

h2
    font-size: 1.2em

.text-h6
    font-size: 1.5em

.text-h4
    font-size: 1.8em

.my-column
    height: calc(100vh - 80px)
    padding: 5px 5px 5px 5px

.my-item
    min-width: 300px
    max-width: 500px

.my-list-item
    min-width: 500px
    width: 80vw
    max-width: 1200px

.my-card
    max-width: 400px
    width: 400px

.my-transparent-bg
    background-color: $accent
    opacity: 0.95

.my-bg
    color: white
    background-color: black

.my-list-btn
    width: 400px

.my-separator
    width: 400px

.my-table
    min-width: 500px
    width: 80vw
    max-width: 1200px

.my-banner-item
    width: 400px
    margin-bottom: -10px
    z-index:100

.my-patient-color
    color: white
    background-color: #8EB4A5

.my-visit-color
    color: white
    background-color: #E5AE44

.my-observation-color
    color: white
    background-color: #8193C0

.my-provider-color
    color: white
    background-color: #BF441E

.my-small-text
    font-size: 0.6em
    line-height: 1.2

.my-icon-size
    height: 50px
    width: 50px

.my-btn
    width: 150px
    color: white
    background-color: black

.my-btn-220
    width: 220px
    color: white
    background-color: black

.my-cell-entry
    max-width: 75px
    overflow: hidden
    font-size: 0.6em

.my-code
    font-family: Consolas, Courier New, Menlo, monospace
    font-size: 14px
    color: #333
    background-color: #f5f5f5


.col_CONCEPT_CD
    width: 30%
    max-width: 250px
    text-align: left
    overflow: hidden


.col_DATA
    width: 30%
    max-width: 250px
    text-align: left
    overflow: hidden


.col_UNIT_CD
    width: 20%
    max-width: 50px
    text-align: left
    overflow: hidden


.col_CATEGORY_CHAR
    width: 10%
    text-align: left
    overflow: hidden


.col_START_DATE
    overflow: hidden
    width: 10%
    text-align: right

.my-el
    max-width: 100px
    overflow: hidden

